nifi_templates/alerts_consumer.json
{"flowContents":{"identifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2","instanceIdentifier":"496e7c28-019a-1000-e447-8525aa45d14c","name":"alerts_consumer","comments":"","position":{"x":-328.0,"y":488.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"657fb2f0-52c5-3b80-a2bd-c679a0c237e6","instanceIdentifier":"48ecad0b-019a-1000-1484-68a5a92cbfc0","name":"ReplaceText","comments":"","position":{"x":-56.0,"y":472.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${now():format(\"yyyy-MM-dd HH:mm:ss\")},${tx_id:escapeCsv()},${user_id:escapeCsv()},${card_id:escapeCsv()},${amount},${currency:escapeCsv()},${merchant:escapeCsv()},${score}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"},{"identifier":"4949d6be-019a-1000-e4cb-2844a590c982","instanceIdentifier":"83c58ae2-7ca2-350c-aeec-d5c901bb3688","name":"PutFile","comments":"","position":{"x":-560.0,"y":736.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"F:\\Projects\\adaptive-fraud-stream\\label_queue","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"},{"identifier":"6b08aa72-862b-3d59-8f35-e81997f14410","instanceIdentifier":"48eb1384-019a-1000-6b3e-3da7e516056a","name":"ConsumeKafka","comments":"","position":{"x":-1312.0,"y":472.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0"},"properties":{"Topics":"transactions.alerts","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"de2d0ef4-4d26-39b2-8920-e1ca63135df5","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"nifi-alerts-consumer","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"},{"identifier":"cc3f1e7d-cfe9-3f9d-9792-4cdcda25b0da","instanceIdentifier":"48ec29b5-019a-1000-d154-cecf101668aa","name":"EvaluateJsonPath","comments":"","position":{"x":-688.0,"y":464.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Destination":"flowfile-attribute","score":"$.score","amount":"$.amount","Max String Length":"20 MB","user_id":"$.user_id","Return Type":"auto-detect","merchant":"$.merchant","Null Value Representation":"empty string","currency":"$.currency","tx_id":"$.transaction_id","card_id":"$.card_id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"score":{"name":"score","displayName":"score","identifiesControllerService":false,"sensitive":false,"dynamic":true},"amount":{"name":"amount","displayName":"amount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"user_id":{"name":"user_id","displayName":"user_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"merchant":{"name":"merchant","displayName":"merchant","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"currency":{"name":"currency","displayName":"currency","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tx_id":{"name":"tx_id","displayName":"tx_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"card_id":{"name":"card_id","displayName":"card_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"},{"identifier":"811a07d4-2597-3b4c-b88b-7c38185cb7af","instanceIdentifier":"4948e4f4-019a-1000-13af-223ce6497496","name":"ExecuteStreamCommand","comments":"","position":{"x":632.0,"y":464.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"F:\\Projects\\adaptive-fraud-stream","Command Path":"C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe","Output Destination Attribute":null,"Argument Delimiter":" ","Ignore STDIN":"true","Command Arguments":"-ExecutionPolicy Bypass -NoProfile -NonInteractive -File \"F:\\Projects\\adaptive-fraud-stream\\scripts\\append_label.ps1\" \"${tx_id}\" \"${user_id}\" \"${card_id}\" \"${amount}\" \"${currency}\" \"${merchant}\" \"${score}\""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f2f1e755-9c78-3aaa-a422-5aaae997ed55","instanceIdentifier":"496fdcf2-019a-1000-af68-7147960bdca2","name":"","source":{"id":"657fb2f0-52c5-3b80-a2bd-c679a0c237e6","type":"PROCESSOR","groupId":"55ed3caf-e55f-3775-bf27-a10214aaedd2","name":"ReplaceText","comments":"","instanceIdentifier":"48ecad0b-019a-1000-1484-68a5a92cbfc0"},"destination":{"id":"811a07d4-2597-3b4c-b88b-7c38185cb7af","type":"PROCESSOR","groupId":"55ed3caf-e55f-3775-bf27-a10214aaedd2","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"4948e4f4-019a-1000-13af-223ce6497496"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"},{"identifier":"7aa960ab-19ce-365a-bb91-ebcf3493e27c","instanceIdentifier":"496fcadf-019a-1000-7253-99b3dca7d1ad","name":"","source":{"id":"cc3f1e7d-cfe9-3f9d-9792-4cdcda25b0da","type":"PROCESSOR","groupId":"55ed3caf-e55f-3775-bf27-a10214aaedd2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"48ec29b5-019a-1000-d154-cecf101668aa"},"destination":{"id":"657fb2f0-52c5-3b80-a2bd-c679a0c237e6","type":"PROCESSOR","groupId":"55ed3caf-e55f-3775-bf27-a10214aaedd2","name":"ReplaceText","comments":"","instanceIdentifier":"48ecad0b-019a-1000-1484-68a5a92cbfc0"},"labelIndex":0,"zIndex":2,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"},{"identifier":"9cbb78c6-cc8f-31d3-b867-0949ef78c884","instanceIdentifier":"496fb9ef-019a-1000-7bb2-6996336f6957","name":"","source":{"id":"6b08aa72-862b-3d59-8f35-e81997f14410","type":"PROCESSOR","groupId":"55ed3caf-e55f-3775-bf27-a10214aaedd2","name":"ConsumeKafka","comments":"","instanceIdentifier":"48eb1384-019a-1000-6b3e-3da7e516056a"},"destination":{"id":"cc3f1e7d-cfe9-3f9d-9792-4cdcda25b0da","type":"PROCESSOR","groupId":"55ed3caf-e55f-3775-bf27-a10214aaedd2","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"48ec29b5-019a-1000-d154-cecf101668aa"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ed3caf-e55f-3775-bf27-a10214aaedd2"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"de2d0ef4-4d26-39b2-8920-e1ca63135df5","instanceIdentifier":"34686ee2-019a-1000-bc3f-af82df127d3c","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"localhost:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"496e7c28-019a-1000-e447-8525aa45d14c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}